<h1>Statistikk kvalitet</h1>

<p>Hvert år utfører difi (Direktoratet for forvaltning og IKT) en kvalitetundersøkelse på offentlige nettsteder i Norge.</p>
<p>Du kan lese mer om undersøkelsen og kvalitetskriteriene på <a href="http://kvalitet.difi.no/">kvalitet.difi.no</a>
</p>
<p>Det ble ikke gjennomført vurdering i 2012.</p>

<barchart class="barchart" id="chart_div_kvalitet" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:e9&gid=7" title="Kvalitet på www.telemark.no"></barchart>
