<h1>Webstatistikk Telemark fylkeskommune</h1>

<p>
    Her finner du statistikk om webtrafikk, sosiale medier og medieoppslag for Telemark fylkeskommune. Du velger hvilket område du vil se statistikk fra i toppmenyen.
</p>

<p>
    <a href="#/trafikk">Trafikk</a> viser besøkstrafikk på <a href="http://www.telemark.no" title="Gå til www.telemark.no (åpnes i nytt vindu)" target="_blank"><span class="glyphicon glyphicon-globe"></span> www.telemark.no</a>. Tallene kommer fra Google Analytics og oppdateres en gang pr måned.
</p>

<p>
    <a href="#/some">Sosiale medier</a> viser besøkstrafikk fra ulike sosiale medier til <a href="http://www.telemark.no" title="Gå til www.telemark.no (åpnes i nytt vindu)" target="_blank"><span class="glyphicon glyphicon-globe"></span> www.telemark.no</a>. I tillegg er det en oversikt over antall følgere på Telemark fylkeskommunes offisielle kontoer. Tallene henter fra Google Analytics samt de ulike sosiale mediene. Oppdatering en gang pr mnd.
</p>

<p>
    <a href="#/medier">Medieoppslag</a> viser antallet medieoppslag om Telemark fylkeskommune og toppkilder for oppslagene. Tallene hentes fra Opoint og oppdateres en gang pr mnd.
</p>

<p>
    <a href="#/kvalitet">Kvalitet</a> viser resultatet av kvalitetsundersøkelsen Difi, Direktoratet for forvaltning og IKT, gjør på offentlige nettsteder. Tallene oppdateres en gang i året.
</p>