<h1>Statistikk medieoppslag</h1>

<p>Tallene kommer fra Opoint og oppdateres en gang pr mnd.</p>

<barchart class="barchart" id="chart_div_medier_total" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:m3&gid=8" title="Totalt antall medieoppslag om Telemark fylkeskommune"></barchart>

<barchart class="barchart" id="chart_div_medier_type" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:m5&gid=10" title="Antall oppslag om Telemark fylkeskommune 2013, fordelt på medietyper"></barchart>

<barchart class="barchart" id="chart_div_medier_kilde" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:m9&gid=9" title="Toppkilder for medieoppslag om Telemark fylkeskommune 2013"></barchart>