<h1>Statistikk sosiale medier</h1>

<p>Tallene kommer fra Google Analytics og de ulike sosiale mediene Telemark fylkeskommune benytter seg av.</p>
<p>Statistikken oppdateres en gang pr mnd.</p>

<barchart class="barchart" id="chart_div_some_trafikk" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:l7&gid=2" title="Unike besøkende på www.telemark.no fra sosiale medier - 2013"></barchart>

<barchart class="barchart" id="chart_div_some" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:l4&gid=5" title="Telemark fylkeskommunes følgere på ulike sosiale medier - 2013"></barchart>