<h1>Statistikk webtrafikk</h1>

<p>Tallene kommer fra Google Analytics og oppdateres en gang pr mnd.</p>

<barchart class="barchart" id="chart_div_total" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:l6&gid=6" title="Unike besøkende på www.telemark.no"></barchart>

<barchart class="barchart" id="chart_div_omrader" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:l7&gid=4" title="Unike besøkende på www.telemark.no, fordelt på områder"></barchart>

<barchart class="barchart" id="chart_div_tjenester" url="https://docs.google.com/spreadsheet/ccc?key=0AuRkF_9Dh0R6dHpOLTBjUG9jRThpY3BtZU1pSGg4a0E&range=a1:l13&gid=3" title="Unike besøkende på www.telemark.no: Våre tjenester"></barchart>